.error404 {
    height: 100vh;
    position: relative;

    .error-page {
        margin: 10% 0;
        display: flex;
        flex-direction: column;

        .error-page-message {
            font-size: 6rem;
            font-weight: bold;
            text-align: center;
            margin: 5% 0;
            color:$color-1;
            opacity: .7;
        }

        .error-page-link-message{
            text-align: center;

            .error-link-message {
                color: black;
                margin-top: 163px;
            }
        }
    }
}