.error404 {

    .error-page {
        margin: 10% 0;
        display: flex;
        flex-direction: column;

        .error-page-message {
            font-size: 8rem;
            opacity: .3;
            font-weight: bold;
            text-align: center;
            margin: 5% 0;
            color:$color-2;

            @media (max-width: 500px) {
                font-size: 5rem;
            }
        }

        .error-page-link-message{
            text-align: center;

            .error-link-message {
                color: black;
                margin-top: 163px;
                
                @media (max-width: 400px) {
                    font-size: .8rem;
                  }
            }
        }
    }
}