.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-first-inputs {
        padding: 0.5rem;
    }
    .container-address {
        padding: 0.5rem;
        border: 1px solid black;
        border-color: rgb(211, 211, 211, .9);
        border-radius: 10px;
    }
}

.input-container { 
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    input, select {
        border: 1px solid black;
        border-color: $color-1;
        border-radius: 10px;
        height: 2rem;
        width: 15rem;
        margin: 0.1rem 0;
        padding: 0.5rem;
    }
}

.input-container-department {
    margin: 0.5rem 0;
}

.button {
    height: 3rem;
    width: 15rem;
    color: white;
    background-color: black;
    border-color: black;
    opacity: 60%;
    border-radius: 20px;
    margin: 0.5rem 0;

    &:hover {
        opacity: 75%;
        color: $color-1;
        transition: 300ms;
        cursor: pointer;
    }
  }
  