.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container { 
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    input, select {
        border: 1px solid black;
        border-color: yellowgreen;
        border-radius: 10px;
        height: 2rem;
        width: 15rem;
        margin: 0.2rem 0;
    }
}

.button {
    height: 4rem;
    width: 15rem;
    color: white;
    background-color: black;
    border-color: black;
    opacity: 60%;
    border-radius: 10px;
    margin: 0.5rem 0;

    &:hover {
        opacity: 75%;
        color: yellowgreen;
        transition: 300ms;
    }
  }
  