.header {
    padding: 2.5rem 0;
}

.body-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    .body-header-link {
        padding: 1rem 0;
    }

    .body-header-form-title {
        padding: 3rem 0 0;
    }
}

.logo-container {
    position: absolute;
    left: 1rem;
    top: 2rem;

    .logo-container-img {
        height: 118px;
    }
}
