$color-1:#93AD18 ;
$color-2:#6E850F ;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: $color-2;
  opacity: 0.65;
}

h3 {
  font-size: medium;
  font-weight: 400;
}

.navlink {
  text-decoration: none;
}

.nav {
  text-decoration: none;
  color: white;
  padding: 1.2rem 3rem;
  background-color: black;
  opacity: 60%;
  border-radius: 20px;

  &:hover {
    opacity: 75%;
    color: $color-1;
    transition: 200ms;
  }
}

