$color-1:#93AD18 ;
$color-2:#6E850F ;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body {
  // background-color: black; ////
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: $color-2;
  opacity: 0.65;
}

h3 {
  font-size: medium;
  font-weight: 400;
}

.navlink {
  text-decoration: none;
}

.nav {
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 20px;
  color: $color-2;
  background-color: white;
  font-size: larger;
  outline-style: solid;
  opacity: .5;

  &:hover {
    color: white;
    background-color: $color-2;
    outline-color: white;
    opacity: .5;
    transition: 200ms;
  }
}

.index { 
  color: $color-2;
  font-size: larger;
  opacity: .6;
}

// React-select
// We use the className and classNamePrefix to style the react-select component
// We presently use the style object https://react-select.com/styles#using-classnames
// Cf. CustomSelect.hs customStyles 


// .sr-only {
//   border: 0 !important;
//   clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
//   -webkit-clip-path: inset(50%) !important;
//   clip-path: inset(50%) !important; /* 2 */
//   height: 1px !important;
//   margin: -1px !important;
//   overflow: hidden !important;
//   padding: 0 !important;
//   position: absolute !important;
//   width: 1px !important;
//   white-space: nowrap !important; /* 3 */
// }